<div class="content_box">
	<h2><%= @user.username %></h2>
	<ul class="user_posts">
		<% @user.posts.each do |p| %>
			<li><%= render :partial => "shared/#{p.class.name.underscore}", :object => p %></li>
		<% end %>
	</ul>
</div>